@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* $color-fondo: #090909;
$color-fondo-gris: #1c1c1c;
$primary-color-dark: #040408;
$primary-color: #FB982B;
$color-texto: #ABADB5; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: url(../img/bg-paterns.png) #0a101e;
}

/* Generales */
@media screen and (max-width: 990px) {
  .navbar-nav li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
  }
  .navbar-nav li::before {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #f9c542;
    transition: all 0.5s;
  }
  .navbar-nav li:hover::before {
    width: 20px;
  }
  .navbar-nav li a {
    padding-left: 10px !important;
  }
  .navbar-nav li a::after {
    content: none !important;
  }
}
icons a, header .content .content__social-medias__icons a, nav .container .offcanvas .offcanvas-footer .offcanvas-footer__social-medias .offcanvas-footer__social-medias__icons a {
  text-decoration: none;
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
icons a i, header .content .content__social-medias__icons a i, nav .container .offcanvas .offcanvas-footer .offcanvas-footer__social-medias .offcanvas-footer__social-medias__icons a i {
  font-size: 4vmin;
  color: #fff;
  z-index: 1;
}
icons a:hover, header .content .content__social-medias__icons a:hover, nav .container .offcanvas .offcanvas-footer .offcanvas-footer__social-medias .offcanvas-footer__social-medias__icons a:hover {
  background: #f9c542;
}

title, .projects .projects__title, .skills .skills__title, section .abaout__div .abaout__title {
  font-size: 2.5vw;
  color: #fff;
  position: relative;
  font-weight: 600;
}

section {
  padding: 120px 0;
}

/* Layouts */
nav {
  /*  background: $color-fondo-gris; */
}
nav .container .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
nav .container .navbar-brand i {
  margin-right: 5px;
}
nav .container .navbar-brand span {
  color: #f9c542;
}
nav .container .navbar-brand p {
  margin-bottom: 0;
}
nav .container .navbar-toggler:focus {
  box-shadow: none !important;
  border: none;
}
nav .container .offcanvas {
  background: #0a101e;
}
nav .container .offcanvas .offcanvas-header__img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .container .offcanvas .offcanvas-header__img img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  background: #fff;
  border: 5px solid #1c1c1c;
}
nav .container .offcanvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: none !important;
}
nav .container .offcanvas .offcanvas-footer {
  margin: 2px;
}
nav .container .offcanvas .offcanvas-footer .offcanvas-footer__social-medias {
  display: flex;
  justify-content: center;
}
nav .container .offcanvas ul {
  width: 100%;
}
nav .container .offcanvas ul li a.nav-link {
  color: #fff;
  padding: 0 20px;
}
nav .container .offcanvas ul li a.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #f9c542;
  transition: all 0.5s;
}
nav .container .offcanvas ul li a.nav-link:hover {
  color: #f9c542;
}
nav .container .offcanvas ul li a.nav-link:hover::after {
  width: 60%;
}
nav .container .offcanvas ul li a.nav-link:focus {
  color: #f9c542 !important;
}

header {
  height: calc(100vh - 72px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  margin-bottom: 170px;
  /* background: $color-fondo; */
}
header .content .content--title {
  color: #fff;
}
header .content .content--title span {
  color: #1c1c1c;
}
header .content .content__text {
  color: #fff;
}
header .content .content__title {
  color: #fff;
}
header .content .content__title span {
  color: #f9c542;
}
header .content .content__text-small {
  font-size: 2vmin;
  color: #fff;
}
header .header__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9c542;
  border-radius: 80%;
}
header .header__image img {
  max-width: 100%;
  /* width: 400px; */
  height: auto;
}
header .header__arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 150px;
}
header .header__arrow .arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}
header .header__arrow div:nth-child(1) {
  top: 20px;
  animation: animateArrow 2s linear infinite;
}
header .header__arrow div:nth-child(2) {
  top: 40px;
  animation: animateArrow 2s linear infinite;
}
header .header__arrow div:nth-child(3) {
  top: 60px;
  animation: animateArrow 2s linear infinite;
}
@keyframes animateArrow {
  100% {
    transform: translateY(3.12em) rotate(45deg);
  }
}

section {
  /*     @include section($color-fondo-gris); */
}
section .abaout__div {
  display: flex;
  padding: 0 50px;
}
section .abaout__div:nth-child(1) {
  background: url(../../img/about_shap_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 290px;
  justify-content: flex-end;
  align-items: center;
}
section .abaout__div:nth-child(2) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .abaout__div:nth-child(2) .abaout__buttons--block {
  background: #f9c542;
  color: white;
  border: 2px solid #f9c542;
  padding: 15px;
  margin: 20px 15px;
  transition: all 0.5s;
}
section .abaout__div:nth-child(2) .abaout__buttons--block:hover {
  background: transparent;
  color: #f9c542;
  border: 2px solid #f9c542;
  padding: 15px;
  margin: 20px 15px;
  transition: all 0.5s;
}
section .abaout__div:nth-child(2) .abaout__buttons--outline {
  background: transparent;
  color: #f9c542;
  border: 2px solid #f9c542;
  padding: 15px;
  margin: 20px 15px;
  transition: all 0.5s;
}
section .abaout__div:nth-child(2) .abaout__buttons--outline:hover {
  background: #f9c542;
  color: white;
  border: 2px solid #f9c542;
  padding: 15px;
  margin: 20px 15px;
  transition: all 0.5s;
}
section .abaout__div .abaout__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 4px;
  background: #f9c542;
}
section .abaout__div .abaout__parrafo {
  color: #fff;
}
.skills {
  position: relative;
}
.skills::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: soft-light;
  content: "";
  background: url(../../img/home-banner.webp) 50%;
  background-size: cover;
}
.skills .skills__title {
  margin: 0 0 50px 0;
  display: inline-block;
}
.skills .skills__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
  height: 4px;
  background: #f9c542;
}
.skills .skills__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-flow: row wrap;
  margin: 50px 0;
}
.skills .skills__content .skills__item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .skills__content .skills__item::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: -1;
}
.skills .skills__content .skills__item img {
  max-width: 100%;
  /* filter: grayscale(0.8); */
  transition: all 0.7s;
}
.skills .skills__content .skills__item img:hover {
  /*   filter: grayscale(0); */
  transform: scale(1.2);
}
.skills .skills__content .skills__item i {
  font-size: 100px;
  color: #fff;
}
.skills .skills__content .skills__item svg g {
  fill: #fff;
}

.projects .projects__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50%;
  height: 4px;
  background: #f9c542;
}
.projects .projects__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
}
.projects .projects__item:nth-child(even) {
  flex-direction: row-reverse;
}
.projects .projects__item:nth-child(even) .projects__item__img {
  position: relative;
}
.projects .projects__item:nth-child(even) .projects__item__img::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
  width: 0;
  height: 0;
  background: #fff;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.projects .projects__item:nth-child(even) .projects__item__img:hover::after {
  width: 80px;
  height: 2px;
}
.projects .projects__item:nth-child(even) .projects__item__img:hover ~ div {
  transform: translateX(0);
}
.projects .projects__item:nth-child(even) .projects__item__info {
  position: relative;
  z-index: -1;
  text-align: center;
  transition: all 0.5s;
  transition-delay: 0.2s;
  margin: 0 20px;
  transform: translateX(100%);
}
.projects .projects__item:nth-child(even) .projects__item__info h3,
.projects .projects__item:nth-child(even) .projects__item__info p {
  padding: 20px;
}
.projects .projects__item:nth-child(even) .projects__item__info h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.projects .projects__item:nth-child(even) .projects__item__info p {
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}
.projects .projects__item:nth-child(even) .projects__item__info .tecnologys {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.projects .projects__item:nth-child(even) .projects__item__info .tecnologys img {
  width: 30px;
  height: 30px;
  max-width: 100%;
}
.projects .projects__item:nth-child(odd) .projects__item__img {
  position: relative;
}
.projects .projects__item:nth-child(odd) .projects__item__img::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  width: 0;
  height: 0;
  background: #fff;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.projects .projects__item:nth-child(odd) .projects__item__img:hover::after {
  width: 80px;
  height: 2px;
}
.projects .projects__item:nth-child(odd) .projects__item__img:hover ~ div {
  transform: translateX(0);
}
.projects .projects__item:nth-child(odd) .projects__item__info {
  position: relative;
  z-index: -1;
  text-align: center;
  margin: 0 20px;
  transition: all 0.5s;
  transition-delay: 0.2s;
  transform: translateX(-100%);
}
.projects .projects__item:nth-child(odd) .projects__item__info h3,
.projects .projects__item:nth-child(odd) .projects__item__info p {
  padding: 20px;
}
.projects .projects__item:nth-child(odd) .projects__item__info h3 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.projects .projects__item:nth-child(odd) .projects__item__info p {
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}
.projects .projects__item:nth-child(odd) .projects__item__info .tecnologys {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.projects .projects__item:nth-child(odd) .projects__item__info .tecnologys img {
  width: 30px;
  height: 30px;
  max-width: 100%;
}
.projects .projects__item img {
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgb(0, 0, 0);
  width: 628px;
  height: 357px;
}

/*# sourceMappingURL=styles.css.map */
