//Fonts

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//Colors
/* $color-fondo: #090909;
$color-fondo-gris: #1c1c1c;
$primary-color-dark: #040408;
$primary-color: #FB982B;
$color-texto: #ABADB5; */

$color-fondo: #0a101e;
$color-fondo-gris: #1c1c1c;
$primary-color-dark: #040408;
$primary-color: #f9c542;
$color-texto: #fff;

//Generales

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background: $color-fondo;
}



/* Generales */
@import "general/mediaq";
@import "general/icons";
@import "general/buttons";
@import "general/generals";
/* Layouts */
@import "layout/navbar";
@import "layout/header";
@import "layout/abaout";
@import "layout/skills";
@import "layout/projects";
@import "layout/contact";
@import "layout/footer";