//Media Query

@mixin desktop {
    @media screen and (max-width: 1400px) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: 990px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 550px) {
        @content;
    }
}


//DESKTOP
@include desktop(){

    .content__form{
        padding-left: 10px!important;
     }



}


//TABLETS

@include tablets(){
    
.navbar-nav{   
    li{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 80px;
        &::before{
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: $primary-color;
            transition: all .5s;
        }

        &:hover::before{
            width: 20px;
        }


        a{
            padding-left: 10px!important;

            &::after{
                content: none!important;
            }
        }
       
    }
 }


 .container__form{
    width: 70%!important;
 }

 .contact__info{
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row!important;

   
    .contact__info__item{
        justify-content: center!important;
     }

    .contact__info__item__icon{

        i{
           display: none!important;
        }
    
     }

 }

 

 

}

//PHONE

@include phone(){
    
   .contact__info__item{
    display: none!important;
   }
   
}