.contact {

    background: url(../img/contact_wave.svg);
    background-size: cover;
    width: 100%;
    padding: 45px 0;
    position: relative;


    .contact__title {
        @extend title;


        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 50%;
            height: 4px;
            background: $primary-color;
        }
    }

    .contact__container{

       
        .contact__info{

            padding: 45px 0 0 0;

            h3{
                color: #fff;
                margin-bottom: 20px;
            }

            .contact__info__item{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 20px;
                width: 70%;

                .contact__info__item__icon{
                    i{
                        background: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15px;
                        color:$primary-color;
                        width: 68px;
                        height: 68px;
                        font-size: 2em;
                    }
                }

                .contact__info__item__text{
                    margin-left: 20px;
                    span{
                        font-size: 14px;
                        color: #c1c1c1;
                    }

                    p{
                        font-size: 16px;
                        color: $color-texto;
                        line-height: 20px;
                        margin: 0;
                    }
                }

            }
        }

        .container__form{
            border: 3px solid transparent;
            border-image: linear-gradient(90deg, rgba(205,157,35,1) 0%, rgba(249,197,66,1) 48%, rgba(227,173,37,1) 100%) 3;
            width: 50%;
            height: 440px;
            display: flex;
            position: relative;
            .content__form {
                display: flex;
                flex-direction: column;
                justify-content:  center;
                align-items: center;
                padding-left: 50px;
    
                h3{
                    color: #fff;
                }
    
                button{
                    @include buttons($primary-color, $color-texto);
                    width: 125px;
                    height: 53px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    
                }

                .btn-confirm{
                    background: #0f6b0f!important;
                    border: 1px solid #0f6b0f;
                    transition: all .5s;
                }
    
                .content__form__item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-flow: row;
                    width: 100%;
                    max-height: 120px;
                    padding-bottom: 20px;
        
                    i{
                        color: #fff;
                        font-size: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 50px;
                        border-radius: 50%;
                        border: 3px solid $primary-color;
                    }
        
                    p{
                        color: #fff;
                        font-size: 1em;
                        font-weight: 300;
                        margin: 0 10px;
                        
                    }
                    input, textarea{
                        background: transparent;
                        border: none;
                        outline: none;
                        border-radius: 0;
                        border-bottom: 1px solid $color-texto;
                        margin: 0 10px;
                        color: #fff;

                        
                        
                        &::placeholder
                        {
                            color: #75707098;
                        }
    
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    
    
        
                }
            }
        
            .content__map{
                #map{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 400px;
                    height: 400px;
                    max-height: 400px;
                    border-radius: 50px;
                    right:  -200px;
                    
                }
    
            }
    
    
        }
    

    }

   


}