header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(../img/fondo2.jpg) no-repeat;
  background-size: cover;




  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .content--title {
      color: $color-texto;

      span {
        color: $color-fondo-gris;
      }
    }

    .content__text {
      width: 100%;
      color: $color-texto;
    }

    .content__title {

      color: $color-texto;

      span {
        color: $primary-color;
      }
    }

    .content__text-small {
      font-size: 1em;
      color: $color-texto;
    }

    .content__social-medias__icons {
      @extend icons;
    }
  }

  .header__image {
    text-align: center;
    padding: 60px 60px 0 60px;
    
  }

}
