
header {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    background: $color-primario;

  .content {

    .content--title {
      font-size: 8vmin;
      color: $color-texto;

      span {
        color: $color-secundario;
      }
    }

    .content__text {
      font-size: 5vmin;
      color: $color-texto;
    }

    .content__title {
      font-size: 8vmin;
      color: $color-texto;

      span {
        color: $color-secundario;
      }
    }

    .content__text-small {
      font-size: 2vmin;
      color: $color-texto;
    }

    .content__social-medias__icons {

        a{
            text-decoration: none;
            border-radius: 50%;
            position: relative;
            width: 50px;
            height: 50px;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;

            i {
                font-size: 4vmin;
                color: #fff;
                z-index: 1;
              }

              &:hover{
                background: $color-secundario;
              }
        }

    }
  }

  .header__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-secundario;
    border-radius: 80%;

    img {
      width: 100%;
    }
  }

  .header__arrow{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .arrow{
        width: 50px;
        height: 50px;
        border: 2px solid $color-texto;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
        
        
    }

    @for $i from 1 through 3 {
        & div:nth-child(#{$i}){
            animation: animateArrow 2s linear infinite; 
        }
    }

    @keyframes animateArrow {
        100%{
            transform: translateY(0.6em * 5.2) rotate(45deg);
        }
    }
  
  }

}
