.projects {
    .projects__title {
        @extend title;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 50%;
            height: 4px;
            background: $primary-color;
        }
    }

    .projects__item {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        margin: 50px 0;


        //Projects pares
        &:nth-child(even) {
            flex-direction: row-reverse;

            .projects__item__img {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 20px;
                    width: 0;
                    height: 0;
                    background: #fff;
                    transition: all .5s;
                    transition-delay: 0.1s;

                }

                &:hover::after {
                    width: 80px;
                    height: 2px;
                }

                &:hover~div {
                    transform: translateX(0);

                }

            }


            .projects__item__info {
                position: relative;
                z-index: -1;
                text-align: center;
                transition: all .5s;
                transition-delay: 0.2s;
                margin: 0 20px;
                transform: translateX(100%);

                h3,
                p {
                    padding: 20px;
                }

                h3 {
                    font-weight: 300;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #fff;
                }

                p {
                    font-weight: 200;
                    letter-spacing: 1px;
                    color: #fff;
                }

                .tecnologys {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    img {
                        width: 30px;
                        height: 30px;
                        max-width: 100%;

                    }

                }

            }

        }

        //Projectos impares
        &:nth-child(odd) {
            .projects__item__img {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-left: 20px;
                    width: 0;
                    height: 0;
                    background: #fff;
                    transition: all .5s;
                    transition-delay: 0.1s;

                }

                &:hover::after {
                    width: 80px;
                    height: 2px;
                }

                &:hover~div {
                    transform: translateX(0);

                }




            }


            .projects__item__info {
                position: relative;
                z-index: -1;
                text-align: center;
                margin: 0 20px;
                transition: all .5s;
                transition-delay: 0.2s;
                transform: translateX(-100%);

                h3,
                p {
                    padding: 20px;
                }

                h3 {
                    font-weight: 300;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #fff;
                }

                p {
                    font-weight: 200;
                    letter-spacing: 1px;
                    color: #fff;
                }

                .tecnologys {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 50px;

                    img {
                        width: 30px;
                        height: 30px;
                        max-width: 100%;

                    }

                }

            }


        }



        img {
            border-radius: 10px;
            box-shadow: 0 0 20px 2px rgb(0 0 0);
            width: 628px;
            height: 357px;

        }


    }




}