.skills {

    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: soft-light;
        content: "";
        background: url(../../img/home-banner.webp) 50%;
        background-size: cover;
    }

    .skills__title {
        @extend title;
        margin: 0 0 50px 0;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 50%;
            height: 4px;
            background: $primary-color;
        }


    }

    .skills__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        flex-flow: row wrap;
        margin: 50px 0;

        .skills__item {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: '';
                position: absolute;
                width: 150px;
                height: 150px;
                background: #ffffff;
                border-radius: 50%;
                transition: all .5s;
                z-index: -1;
            }

            img {
                max-width: 100%;
                /* filter: grayscale(0.8); */
                transition: all .7s;

                &:hover {
                    /*   filter: grayscale(0); */
                    transform: scale(1.2);
                }
            }

            i {
                font-size: 100px;
                color: $color-texto;
            }

            svg {
                g {
                    fill: $color-texto;
                }
            }

        }

    }



}